<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FleaDAO">

	<select id="getFleaList" resultType="fleaVO">
		<![CDATA[
		SELECT * FROM flea ORDER BY flea_no ASC
		]]>
	</select>
	<!-- 판매 확정 순 -->
	<select id="okayFleaList" resultType="fleaVO">
		<![CDATA[
		SELECT * FROM flea ORDER BY flea_isokay=1 ASC
		]]>
	</select>
	
	<select id="getFlea" parameterType="fleaVO" resultType="fleaVO">
	<![CDATA[
		SELECT * FROM flea
		WHERE flea_no = #{flea_no}
		]]>
	</select>
	
	<insert id="insertFleaWrite" parameterType="fleaVO">
		INSERT INTO flea(flea_title, flea_price, flea_writer, flea_content, flea_date,
		<if test="flea_img != null">
		flea_img
		</if>
		)
		VALUES (#{flea_title}, #{flea_price}, #{flea_writer}, #{flea_content}, sysdate(),
		<if test="flea_img != null">
		#{flea_img}
		</if>
		)
	</insert>
	
	<!-- 중고장터 게시물 삭제 -->
	<delete id="deleteFlea" parameterType="fleaVO">
		DELETE FROM flea
		WHERE flea_no = #{flea_no}
	</delete>
	
	<!-- 댓글입력 -->
	<insert id="addFleaCom" parameterType="flea_comVO">
	<![CDATA[
		INSERT INTO flea_com(flea_no, flea_com_writer, flea_com_date, flea_com_content)
		VALUES(#{flea_no}, #{flea_com_writer}, sysdate(), #{flea_com_content})
	]]>
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="listFleaCom" resultType="flea_comVO" parameterType="flea_comVO">
		SELECT flea_com_no, flea_com_writer, flea_com_content, flea_com_date
		FROM flea_com WHERE flea_no = #{flea_no}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteFleaCom" parameterType="flea_comVO">
		DELETE FROM flea_com
		WHERE flea_com_no = #{flea_com_no}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="modifyFleaCom">
		UPDATE flea_com
		SET flea_com_content = #{flea_com_content}
		WHERE flea_com_no = #{flea_com_no}
	</update>

	<!-- 총 게시글 갯수 -->
	<select id="countFleaList" resultType="int"> 
		SELECT COUNT(*) FROM flea WHERE flea_no
	</select>
	
	<!-- 페이징 최신순 -->
	<select id="pageFleaList" resultType="hashmap" parameterType="hashmap">
		SELECT * FROM flea
		ORDER BY flea_no desc
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 페이징 확정순 -->
	<select id="pageFleaListIsOkay" resultType="hashmap" parameterType="hashmap">
		SELECT * FROM flea
		WHERE flea_isokay = '1'
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 검색에 대한 게시글 수 -->
	<select id="countSearch" resultType="int">
		SELECT COUNT(*) FROM flea
		<where>
			<if test="searchType != null">
				${searchType} LIKE '%${keyword}%'
			</if>
		</where> 
	</select>
	
	<!-- 검색 -->
	<select id="searchList" resultType="fleaVO" parameterType="hashmap">
		SELECT * FROM flea
		<where>
			<if test="searchType != null">
				${searchType} LIKE '%${keyword}%'
			</if>
		</where> 
		ORDER BY flea_no
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 게시물별 총 댓글수 -->
	<select id="countFleaCom" parameterType="flea_comVO" resultType="int">
		SELECT count(*) FROM flea_com WHERE flea_no = #{flea_no}
	</select>
	
	<!-- 캠페인 리스트 -->
	<select id="campaignList" resultType="sponVO">
		SELECT * FROM spon WHERE spon_iscampaign = '1'
	</select>
	
	<!-- 중고장터 게시글 수정 -->
	<update id="updateFleaWrite">
		UPDATE flea
		SET flea_title = #{flea_title}, flea_content = #{flea_content}, flea_price = #{flea_price}, flea_date = sysdate(),
		<if test="flea_img != null">
		flea_img = #{flea_img}
		</if>
		WHERE flea_no = #{flea_no}
	</update>
	

</mapper>