<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MsgDAO">

	<select id="selectMsg" parameterType="msgVO" resultType="msgVO">
		SELECT * FROM msg
		WHERE msg_to = #{msg_to} 
		OR msg_from = #{msg_from}
		order by msg_date desc
		LIMIT 0,30
	</select>
	
	<select id="selectUserMsg" parameterType="msgVO" resultType="msgVO">
		SELECT * FROM msg
		WHERE msg_to = "GIVENGEL" 
		OR msg_where = "USER"
		order by msg_date desc
		LIMIT 0,30
	</select>
	
	<select id="myMsg" parameterType="String" resultType="msgVO">
		SELECT * FROM msg
		WHERE msg_to = #{msg_to}
		order by msg_date desc
		LIMIT 0,30
	</select>
	
	<insert id="insertMsg" parameterType="msgVO">
		INSERT INTO msg(msg_to,msg_from,msg_detail,msg_checked,msg_date,msg_where)
		VALUES(#{msg_to},#{msg_from},#{msg_detail},0,sysdate(),#{msg_where})
	</insert>
	
	
	<update id="updateCheckMsg" parameterType="msgVO">
		UPDATE msg
		SET msg_checked = 1
		WHERE msg_no = #{msg_no}
	</update>


	<select id="timeLine" parameterType="msgVO" resultType="msgVO">
		SELECT * FROM msg
		WHERE (msg_to = #{msg_to}) AND msg_date LIKE "${msg_date}%" AND msg_where='ADMIN'
	</select>
	
	

</mapper>