<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="userVO"
			type="com.project.givengel.vo.UserVO" />
		<typeAlias alias="sponVO"
			type="com.project.givengel.vo.SponVO" />
		<typeAlias alias="cartVO"
			type="com.project.givengel.vo.CartVO" />
		<typeAlias alias="fleaVO"
			type="com.project.givengel.vo.FleaVO" />
		<typeAlias alias="goodVO"
			type="com.project.givengel.vo.GoodVO" />
		<typeAlias alias="user_buylogVO"
			type="com.project.givengel.vo.User_buylogVO" />
		<typeAlias alias="user_cashlogVO"
			type="com.project.givengel.vo.User_cashlogVO" />
		<typeAlias alias="flea_comVO"
			type="com.project.givengel.vo.Flea_comVO" />
		<typeAlias alias="good_comVO"
			type="com.project.givengel.vo.Good_comVO" />
		<typeAlias alias="adminVO"
			type="com.project.givengel.vo.AdminVO" />
		<typeAlias alias="logVO"
			type="com.project.givengel.vo.LogVO" />
		<typeAlias alias="LikeToVO"
			type="com.project.givengel.vo.LikeToVO" />
		<typeAlias alias="spon_comVO"
			type="com.project.givengel.vo.Spon_comVO" />
			<typeAlias alias="adminChartTimeVO"
			type="com.project.givengel.vo.AdminChartTimeVO" />
		<typeAlias alias="adminChartBarVO"
			type="com.project.givengel.vo.AdminChartBarVO" />
	</typeAliases>


</configuration>

